<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>校方管理系统</title>

  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/style.min.css">
  <link rel="stylesheet" href="../../static/css/materialdesignicons.min.css">
  <script src="../../static/js/community.js"></script>


</head>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">

      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="/admin/home"><img src="../static/images/1.jpg" title="校企合作平台" alt="校企合作平台" style="width: 50px;"/></a>
      </div>
      <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item active"> <a href="/admin/home"><i class="mdi mdi-home"></i> 后台首页</a> </li>
            <li class="nav-item nav-item-has-subnav open">
              <a href="javascript:void(0)"><i class="mdi mdi-human-male "></i> 用户管理</a>
              <ul class="nav nav-subnav">
                <li class="active"> <a href="/admin/HRuser_list">企业人员</a> </li>
                <li> <a href="/admin/company_list">企业信息</a> </li>
                <li > <a href="/admin/user_list">学生信息</a> </li>
              </ul>
            </li>
            <li class="nav-item "> <a href="/admin/question_list"><i class="mdi mdi-clipboard-text"></i> 论坛文章管理</a> </li>
            <li class="nav-item "> <a href="/admin/project_list"><i class="mdi mdi-package-variant-closed"></i> 项目管理</a> </li>
            <li class="nav-item "> <a href="/admin/employment"><i class="mdi mdi-message-reply-text"></i> 学生应聘信息</a> </li>
          </ul>
        </nav>


      </div>

    </aside>
    <!--End 左侧导航-->

    <!--头部信息-->
    <header class="lyear-layout-header">

      <nav class="navbar navbar-default">
        <div class="topbar">

          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 用户管理 </span>
          </div>

          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <span th:text="${session.user.getAccountId()}"> <span class="caret"></span></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li> <a href=""><i class="mdi mdi-account"></i> 个人信息</a> </li>
                <li> <a href=""><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                <li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                <li class="divider"></li>
                <li> <a href=""><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
              </ul>
            </li>

          </ul>

        </div>
      </nav>

    </header>
    <!--End 头部信息-->

    <!--页面主要内容-->
    <main class="lyear-layout-content">


      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4>企业人事信息</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>人事姓名</th>
                    <th>人事创建时间</th>
                    <th>人事联系方式</th>
                    <th>人事账号状态</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user : ${pagination.data}">
                    <td ><span class="numberClass"></span></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${user.phone}"></td>
                    <td><a type="button" class="btn btn-danger" th:data-id="${user.id}" onclick="openit(this)" >启用</a>
                      <a type="button" class="btn btn-danger" th:data-id="${user.id}" onclick="closeit(this)" >停用</a>
                    </td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>



    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="../../static/js2/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js2/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/js2/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../../static/js2/main.min.js"></script>

<script type="text/javascript">
    $(function(){
        function number(){
            for(var i=0;i< $(".numberClass").length;i++){
                $(".numberClass").get(i).innerHTML = i+1;
            }
        }
        number();
    });
</script>
<script>
    function openit(e) {
        var userId =e.getAttribute("data-id");
        var de = confirm("确定启用此用户？");
        if (de) {
            $.ajax({
                type: "POST",
                url: "/admin/openit",
                contentType: 'application/json',
                data: JSON.stringify({
                    "id": userId
                })
            }),alert("启用成功！");

        }

    }</script>
<script>
    function closeit(e) {
        var userId =e.getAttribute("data-id");
        var de = confirm("确定要停用此用户吗？");
        if (de) {
            $.ajax({
                type: "POST",
                url: "/admin/closeit",
                contentType: 'application/json',
                data: JSON.stringify({
                    "id": userId
                })
            }),alert("停用成功！");
            // window.location.reload();
        }

    }</script>

</body>
</html>