<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        html,body{
            height: 100%;
        }
        body{
            display: grid;/*网格布局*/
        }
    </style>
    <title>用户登录</title>
    <link rel="stylesheet" href="css/community.css"/>
</head>
<script src="js/jquery-3.4.1.min.js" ></script>
<!--<script>-->
    <!--function login() {-->
        <!--$.ajax({-->
            <!--url: '/login',-->
            <!--type: 'post',-->

            <!--data: {"name": $('#name').val(), "password": $('#password').val()},-->
            <!--success: function (d) {-->
                <!--console.log(d)-->

                <!--if (d.success) {-->
                    <!--window.location.href = '/';-->
                <!--} else {-->

                        <!--alert("账号或者密码错误！");//显示带有一条指定消息和一个 OK 按钮的警告框-->

                <!--}-->
            <!--}-->
        <!--})-->
    <!--}-->
<!--</script>-->
<body>
<div class="login">
    <h2 class="title1">Login</h2>
    <form class="login-content" method="post" action="/loginsuc">
        <input type="text" name="name"  id="name" placeholder="请输入账号">
        <input type="password" name="password"  id="password" placeholder="请输入密码">
        <button type="submit" >登录</button>
    </form>
    </div>
</body>
</html>