<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布--交流平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js"></script>


</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <form action="/publish" method="post"><!--提交请求的地址，post方式路由，当点击发布，他会寻找地址为publish，请求方法为postMapping的接口-->
                <input type="hidden" name="id" th:value="${id}">
                <!-- 通过RequestParam去接受title，des..，tag的同时，放到model里面，为了回显到页面上去，其实，要验证下是否为空，是否登录-->
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" th:value="*{title}" name="title"
                           autocomplete="off" placeholder="简单描述问题">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">详细介绍问题</label>
                    <textarea name="description" id="description" th:text="*{description}" style="display:none;"
                              class="form-control"
                              cols="30" rows="10"></textarea>

                    <!-- th:value="*{title }  th:text="*{description}等是thymeleaf的数据回显，先保存在model中，有错误的时候可以回显已输入内容到网页-->
                </div>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: "340px",
                            path: "/js/lib/",
                            delay: 0,
                            imageUpload:true,
                            imageFormats:["jpg","jpeg","gif","png","bmp","webp"],
                            imageUploadURL:"/file/upload",
                            watch: false,
                            placeholder:"请输入正文内容，支持支持通用 Markdown / CommonMark 和 GFM风格的语法",
                            //自定功能
                            toolbarIcons: function () {
                                return ["bold", "italic", "list-ul", "list-ol", "hr", "|", "link", "image", "code-block", "|", "watch"
                                ]
                            }

                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag"
                           autocomplete="off" placeholder="输入标签" onclick="showSelectTag()">
                </div>

                <!-- 标签展示导航 -->
                <div id="select-tag" class="tag-tab ">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:each="selectCategory:${tags}">
                            <a th:href="${'#'+selectCategory.className}" aria-controls="home" role="tab"
                               data-toggle="tab"
                               th:text="${selectCategory.className}"></a>
                        </li>

                    </ul>
                    <!-- 标签内容 -->
                    <div class="tab-content ">
                        <div role="tabpanel" th:id="${selectCategory.className}"
                             th:each="selectCategory : ${tags}"
                             th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                        <span>
                        <span class="label label-info" th:each="selectTag : ${selectCategory.tags}"><span
                                class="glyphicon glyphicon-tags" onclick="selectTag(this)" th:data-tag="${selectTag}"
                                th:text="${'  '+selectTag}">
                            </span>
                        </span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"></div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
            <hr>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>发布问题指南</h3>
        </div>
    </div>
</div>
</body>
</html>