<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.community.mapper.CommentMapper">


    <select id="selectComment" resultType="comment">
        select *
        from   comment
        <where>
            <if test="id != null and id != 0">
                and parent_id=#{id}
            </if>
            <if test="type != null and type !='' ">
                and type = #{type}
            </if>

        </where>
    </select>
    <select id="queryOneComment" resultType="comment">
        select *
        from   comment
        <where>
            <if test="id != null and id != 0">
                and id = #{id}
            </if>

        </where>
    </select>
    <insert id="insert">
      insert into comment(
				        parent_id,type,gmt_create,gmt_modified,commentator,content,comment_count
				        )
                  value(
                       #{parentId},#{type},#{gmtCreate},#{gmtModified},#{commentator},#{content},#{commentCount}
                  )

    </insert>
    <update id="updateCommentCount">
        update comment
        <set>
            comment_count=comment_count+1
        </set>
         where id = #{id}
    </update>


</mapper>