<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.community.mapper.NotificationMapper">


    <select id="selectQuestion" resultType="question">
        select *
        from   question

    </select>
    <select id="queryId" resultType="notification">
        select *
        from   notification
        <where>
            <if test="id != null and id != 0">
                and id = #{id}
            </if>

        </where>
    </select>
    <insert id="addNotification">
      insert into notification(
				          id,type,gmt_create,notifier,receiver,outerId,status,notifier_name,outer_title)
                  value(
                      #{id},#{type},#{gmtCreate},#{notifier},#{receiver},#{outerId},#{status},#{notifierName},#{outerTitle}
                  )

    </insert>
    <update id="update">
        update question
        <set>
            title = #{title},
            description=#{description},
            gmt_modified=#{gmtModified}
        </set>
        where id = #{id}
    </update>
    <select id="selectRelated" resultType="question">
        select *
        from   question
        where id != #{id} and tag regexp #{tag}
    </select>
    <update id="updateRead">
        update notification

            set status=#{status}

        where id = #{id}
    </update>


    <select id="countUnread" resultType="integer" >
        select count(*)
        from   notification
        where receiver = #{userId} and status = #{status}
     </select>

    <select id="count" resultType="integer" >
        select count(*)
        from   notification
        where receiver = #{id}
     </select>
    <select id="select" resultType="notification">
        select *
        from   notification
        where receiver = #{id}
        ORDER BY gmt_create DESC limit #{offset},#{size}
    </select>

</mapper>