<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.backstageservice.mappers.UserMapper">

  <sql id="userField">
      id,
      name,
      age,
      pwd,
      token,
      avatarUrl,
      accountId
   </sql>

    <select id="selectUsers" resultType="com.hzu.backstageservice.model.User">
    select *
    from   user

</select>


</mapper>